@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ant-modal .ant-modal-content {
  background-color: transparent;
  padding: 0;
}

.container {
  background-image: url("./assets/bgImage.jpg");
  background-size: cover;
  height: 80vh;
  width: 100vw;
  background-position: center;
}

.ant-btn-primary:not([disabled]) {
  background: #0f172a !important;
}
